.head-components{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group{
  margin: auto 0;
}

.data-display{
  border: black solid 1px;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  border-radius: 5px;
  user-select: none;
  font-size: large;
  overflow-y: auto;
  overflow-x: hidden;
}


.car-list-item> div{
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.car-info{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 5px;
}

.park-out-button{
  width: 10%;
  padding: 5px;
  align-self: flex-end;
}

.park-out-button button{
  width: 100%;
}

.car-icon{
  width: 5%;
  padding: 5px;
  margin-left: 5px;
}
.car-plate{
  text-align: center;
  width: 20%;
}
.car-owner{
  width: 40%;
}

.car-pl{
  text-align: center;
  width: 30%;
}
