
<app-pop-up *ngIf="popUpIsOpen" (closeEvent)="closePopUp()" (okEvent)="deleteParkHouse()">
  <p>Biztosan törlöd a parkolóházat?</p>
  <p class="text-danger">{{error}}</p>
</app-pop-up>

<!--Parkolóház szerkesztéséhez szükséges felugró ablak és űrlap-->
<app-pop-up *ngIf="popUp2IsOpen" (closeEvent)="closePopUp2()" (okEvent)="submitForm()">
    <form (ngSubmit)="onSubmit()" #ef="ngForm">
      <h3>Parkolóház szerkesztése</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" id="parkHouseNameInput" type="text" placeholder="Név" [ngModel]="parkHouse.name" name="parkHouseNameInput" required #phName="ngModel"/>
            <span class="form-text text-danger" *ngIf="!phName.valid && (phName.touched || formChecked)">
              A név nem lehet üres!
              </span>
          </div>
          <div>
            <input class="form-control" type="number" id="firstFloorInput" name="numFirstFloorInput" id="firstFloor" placeholder="Első szint" [ngModel]="parkHouse.firstFloor" required #firstFloor="ngModel"/>
            <span class="form-text text-danger" *ngIf="!firstFloor.valid && (firstFloor.touched || formChecked)">
              Ez a mező nem lehet üres.
            </span>
          </div>
          <div>
            <input class="form-control" type="number" id="floorCount" name="numFloorInput" id="numberOfFloors" placeholder="Szintek száma" [ngModel]="parkHouse.numberOfFloors" required #numFloor="ngModel" min="0"/>
            <span class="form-text text-danger" *ngIf="!numFloor.valid && (numFloor.touched || formChecked)">
              Az emeletszám nem lehet üres!
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <input class="form-control" id="parkHouseAddressInput" type="text" placeholder="Cím" [ngModel]="parkHouse.address" name="parkHouseAddressInput"/>
          </div>
          <div>
            <input class="form-control"
              type="number"
              name="longitudeInput"
              id="longitude"
              [(ngModel)] = "parkHouse.longitude"
              required
              placeholder="Szélességi fok"
              #longitude="ngModel"/>
            <span class="form-text text-danger" *ngIf="!longitude.valid && (longitude.touched || formChecked)">
              A térképre duplán kattintva megadhat pontos helyet.
            </span>
          </div>
          <div>
              <input class="form-control"
                type="number"
                name="latitudeInput"
                id="latitude"
                [(ngModel)]="parkHouse.latitude"
                required
                placeholder="Hosszúsági fok"
                #latitude="ngModel"/>
              <span class="form-text text-danger" *ngIf="!latitude.valid && (latitude.touched || formChecked)">
                A térképre duplán kattintva megadhat pontos helyet.
              </span>
          </div>
        </div>
      </div>

    </form>
    <p class="text-danger">{{error}}</p>
    <agm-map id="map" [disableDoubleClickZoom]="true"
    [longitude]="19.075364"
    [latitude]="47.491800"
    [restriction]="mapRestriction" (mapDblClick)="moveMarker($event)">
    <agm-marker [(longitude)]="parkHouse.longitude" [(latitude)]="parkHouse.latitude" [markerDraggable]="true"
    (drag)="dragMarker($event)"></agm-marker>
    </agm-map>
</app-pop-up>

<!--Szektor hozzáadásához szükséges felugró ablak és űrlap-->
<app-pop-up *ngIf="popUp3IsOpen" (closeEvent)="closePopUp3()" (okEvent)="submitSectorAddForm() " [okText]="'Hozzáad'">
  <form (ngSubmit)="onSectorAddSubmit()" #af="ngForm">
    <div>
      <input class="form-control" type="text"  name="sectorNameInput" placeholder="Név" required ngModel #sectorName="ngModel">
      <span class="form-text text-danger" *ngIf="!sectorName.valid && (sectorName.touched)">
        A név nem lehet üres!
        </span>
    </div>
    <div style="width: 100%;">
      <input class="form-control" type="number" id="floor-num-input" name="sectorFloorInput"
      placeholder="Emelet" min={{parkHouse.firstFloor}} max={{parkHouse.firstFloor+parkHouse.numberOfFloors}} required ngModel #sectorFloor="ngModel">
      <span class="form-text text-danger" *ngIf="!sectorFloor.valid && (sectorFloor.touched)">
        ({{parkHouse.firstFloor}}-{{parkHouse.firstFloor+parkHouse.numberOfFloors}})
        </span>
    </div>
  </form>
  <p class="text-danger">{{error}}</p>
</app-pop-up>

<main>
  <div class="container">
    <div class="info-edit row">
      <div class="col-md-10">
        <h1>{{parkHouse.name}}</h1>
        <h2>{{parkHouse.address}}</h2>
        <h3>Emeletek:
          {{parkHouse.firstFloor<0?'('+parkHouse.firstFloor+')':parkHouse.firstFloor}}
          -
          {{maxFloor<0?'('+maxFloor+')':maxFloor}}</h3>
      </div>
      <div class="buttons col-md-2" *ngIf="isAdmin">
        <button class="btn btn-primary" (click)="openPopUp2()">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        <button class="btn btn-danger" (click)="openPopUp()">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
      </div>
    </div>
    <app-pie-chart [ngClass]="{invisible: parkHouse.freePlCount+parkHouse.occupiedPlCount<=0}"
     #chart [freePls]="parkHouse.freePlCount" [occuPiedPls]="parkHouse.occupiedPlCount"></app-pie-chart>
    <div>
      <h2>Szektorok:</h2>
      <ul>
        <app-list-tile *ngFor="let sector of parkHouse.sectors" (elementDeleted)="removeSector(sector)">
          <div class="col-md-11" >
            <div class="row down-btn" (click)="togglePlList(plList)">
              <h3 class="text-primary card-title col-md-4">{{sector.name}}</h3>
              <span class="text-primary col-md-3">Emelet: {{sector.floor}}</span>
              <span class="text-primary col-md-4">Szabad parkolók: {{sector.freePlCount}}</span>
              <span class="col-md-1">
                <fa-icon *ngIf="!plList.parkingLotsVisible;else upArrow" [icon]="faCaretDownIcon"></fa-icon>
                <ng-template #upArrow><fa-icon  [icon]="faCaretUpIcon"></fa-icon></ng-template>
              </span>
            </div>
            <app-parking-lot-list #plList [chart]="chart" [sector] = "sector" [parkigLots]="sector.parkingLots" ></app-parking-lot-list>
          </div>
           </app-list-tile>
      </ul>
      <app-add-button (addEvent)="openPopUp3()"></app-add-button>
    </div>
  </div>
</main>
