.display{
    display: flex;
    background-color: var(--light-color);
    align-items: flex-start;
    height: 100vh;
}

nav{
    display: block;
    color: #a9b7d0;
    background: var(--dark-background);
}

.display> nav{
    align-self: stretch;
    width: 12%;
    min-width: 182px;
}
.display > main{
    width: 88%;
    align-self: stretch;
}

#content{
    height: 64%;
}
#mainTitle{
    display: block;
    padding: 10px;
    margin: 0 auto;
}

#userBasicData{
    padding: 10px;
}
header{
    display: block;
    min-height: 70px;
    width: 100%;
    padding: 0;
    top:0;
    background: transparent;
    border-bottom: #3f4d67 solid 1px;
    margin: 0;
}