
.sidenav{
  background-color: var(--primary);
  color: var(--light);
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.sidenav span:hover{
  color: var(--secondary);
}


span.active{
  background-color: rgba(46, 66, 238, 0.685);
}
