<app-pop-up *ngIf="popupIsOpen" (closeEvent)="closePopUp()" (okEvent)="deleteParkingLot()" [okText]="'Igen'">
  <h3>Biztos törölni akarod?</h3>
</app-pop-up>

<app-pop-up *ngIf="popUp2IsOpen" (closeEvent)="closePopUp2()" (okEvent)="submitEditForm()">
  <form #form="ngForm" (ngSubmit)="onEditSubmit()" class="form-group">
    <label for="nameEditInput">Név:</label>
    <input class="form-control" id="nameEditInput" type="text" required name="newNameInput" placeholder="Új név" [ngModel]="parkingLot.name">
  </form>
</app-pop-up>

<app-pop-up *ngIf="popUp3IsOpen" (closeEvent)="closePopUp3()" [actionButtons]="false">
  <ul class="user-list" *ngIf="isUsersView;else carView">
    <h3>Felhasználók</h3>
    <li *ngFor="let user of userService.users" (click)="changeView(user)">
      <div class="card user-list-item">{{user.firstName}} {{user.lastName}}</div>
    </li>
  </ul>
  <ng-template #carView>
    <h3>Autók:</h3>
    <ul class="car-list" *ngIf="selectedUser.ownedCars.length>0;else noCar">
      <li *ngFor="let car of selectedUser.ownedCars" (click)="parkIn(car)">
        <div class="card car-list-item">
          {{car.plateNumber}}
        </div>
      </li>
    </ul>
    <ng-template #noCar><div>Ennek a felhasználónak nincs autója nyilvámntartva!</div></ng-template>
  </ng-template>
</app-pop-up>

<app-pop-up *ngIf="popUp4IsOpen" (closeEvent)="closePopUp4()" (okEvent)="parkingLot.isReserved? startReservationDelete():sendReservation()">
  <form #reservForm="ngForm" *ngIf="!parkingLot.isReserved">
    <div class="form-group">
      <label for="fromDate">Mennyi ideig:</label>
      <select class="form-control" name="durationSelectInput" id="durationSelect" [ngModel]='1'>
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]" value="{{i}}">
          {{i}} óra
        </option>
      </select>
    </div>
  </form>
  <div *ngIf="parkingLot.isReserved">
    Biztos törlil a foglalást?
  </div>
</app-pop-up>

<app-pop-up *ngIf="popUp5IsOpen" (closeEvent)="closePopUp5()" (okEvent)="closePopUp5()">
  <p>Egyszerre maximum három parkolóhelyet lehet foglalni. Őn már három parkolóhelyet foglal.</p>
</app-pop-up>

<div class="container">
  <div class="row justify-content-sm-between">
    <div>
      <h1>{{parkingLot.name}}</h1>
      <h2>Parkolóház: {{parkingLot.sector.parkHouse.name}}</h2>
      <h2>Szektor: {{parkingLot.sector.name}}</h2>
    </div>

    <div *ngIf="isAdmin" class="buttons">
      <button class="btn btn-primary" (click)="openPopUp2()">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <button class="btn btn-danger" (click)="openPopUp()">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </div>
  </div>
  <div class="pl-car-container">
    <div *ngIf="parkingLot.occupyingCar;else emptyPl">
      <div class="car-detail-container row">
        <div class="car-details-icon col-md-4">
          <fa-icon [icon]="carIcon"></fa-icon>
        </div>
        <div class="car-text-details col-md-8">
          <p>Autó: {{parkingLot.occupyingCar.plateNumber}}</p>
          <p>Tulaj: {{parkingLot.occupyingCar.owner.firstName}} {{parkingLot.occupyingCar.owner.lastName}}</p>
        </div>
      </div>
    </div>
    <ng-template #emptyPl>
      <div class="no-car"><h1>Üres</h1></div>
    </ng-template>
    <div class="reserve-info" *ngIf="parkingLot.isReserved" style="text-align: center;">
      <h4>{{parkingLot.reservation.user.firstName}} {{parkingLot.reservation.user.lastName}}
        részére lefoglalva. Foglalás vége:
      </h4>
      <h4>{{reserveEndTimeString}}</h4>
    </div>
    <div class="no-car">
      <button class="btn btn-primary" (click)="parkingLot.occupyingCar? parkOut() :openPopUp3()"
      *ngIf="isParkActionShown">{{parkingLot.occupyingCar?'Kiállás':'Beállás'}}</button>
    </div>
    <div class="reserv-button">
      <button *ngIf="!parkingLot.isReserved &&isReservable" class="btn btn-primary" (click)="authService.loggedInUser.reservations.length<3 ? openPopUp4():openPopUp5()">
        Foglalás
      </button>
      <button *ngIf="parkingLot.isReserved &&(isAdmin||isUsersCar)" class="btn btn-primary" (click)="authService.loggedInUser.reservations.length<3 ? openPopUp4():openPopUp5()">
        Foglalás törlése
      </button>
    </div>
  </div>

</div>
