<app-pop-up *ngIf="popupIsOpen" (closeEvent)="closePopUp()" (okEvent)="deleteParkingLot()" [okText]="'Igen'">
  <h3>Biztos törölni akarod?</h3>
</app-pop-up>

<app-pop-up *ngIf="popUp2IsOpen" (closeEvent)="closePopUp2()" (okEvent)="submitEditForm()">
  <form #form="ngForm" (ngSubmit)="onEditSubmit()">
    <input type="text" required name="newNameInput" placeholder="Új név" [ngModel]="parkingLot.name">
  </form>
</app-pop-up>

<app-pop-up *ngIf="popUp3IsOpen" (closeEvent)="closePopUp3()" [actionButtons]="false">
  <ul class="user-list" *ngIf="isUsersView;else carView">
    <li *ngFor="let user of userService.users" (click)="changeView(user)">
      <div class="card user-list-item">{{user.firstName}} {{user.lastName}}</div>
    </li>
  </ul>
  <ng-template #carView>
    <ul class="car-list" *ngIf="selectedUser.ownedCars.length>0;else noCar">
      <li *ngFor="let car of selectedUser.ownedCars" (click)="parkIn(car)">
        <div class="card car-list-item">
          {{car.plateNumber}}
        </div>
      </li>
    </ul>
    <ng-template #noCar><div>Ennek a felhasználónak nincs autója nyilvámntartva!</div></ng-template>
  </ng-template>
</app-pop-up>

<div class="container">
  <h1>{{parkingLot.name}}</h1>
  <h2>Parkolóház: {{parkingLot.sector.parkHouse.name}}</h2>
  <h2>Szektor: {{parkingLot.sector.name}}</h2>
  <div class="felx-cont">
    <div *ngIf="parkingLot.occupiingCar;else emptyPl">
      <div class="car-detail-container row">
        <div class="car-details-icon col-md-4">
          <fa-icon [icon]="carIcon"></fa-icon>
        </div>
        <div class="car-text-details col-md-8">
          <p>Autó: {{parkingLot.occupiingCar.plateNumber}}</p>
          <p>Tulaj: {{parkingLot.occupiingCar.owner.firstName}} {{parkingLot.occupiingCar.owner.lastName}}</p>
        </div>
      </div>
    </div>
    <ng-template #emptyPl>
      <h1>Üres</h1>
    </ng-template>
    <div>
      <button class="btn btn-primary" (click)="parkingLot.occupiingCar? parkOut() :openPopUp3()">{{parkingLot.occupiingCar?'Kiállás':'Beállás'}}</button>
    </div>
  </div>

  <button class="btn btn-primary" (click)="openPopUp2()">
    <fa-icon [icon]="editIcon"></fa-icon>
  </button>
  <button class="btn delete-btn" (click)="openPopUp()">
    <fa-icon [icon]="trashIcon"></fa-icon>
  </button>
</div>
