

.car-details-icon{
  font-size: 200px;
}

.user-list{
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.user-list-item, .car-list-item{
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  user-select: none;
  cursor: pointer;
}

.user-list-item:hover, .car-list-item:hover{
  background-color: var(--secondary);
  color: var(--light);
}
