.head-components{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-form{
  margin: auto 0;
}

.data-display{
  border: black solid 1px;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  border-radius: 5px;
  user-select: none;
  font-size: large;
  overflow-y: auto;
  overflow-x: hidden;
}


.data-list-item> div{
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.user-info{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 5px;
}
.user-info:hover{
  background-color: var(--secondary);
  color: var(--light);
}

.admin-button{
  width: 15%;
  padding: 5px;
  min-width: 200px;
}
.admin-button button{
  width: 100%;
}

.data-button{
  border-radius: 5px;
}
.data-button:hover{
  background-color: lightblue;
  color: var(--light);
}

.data-row{
  border-bottom: 1px solid var(--dark);
}

.data-row span{
  display: block;
}
