<div class="container-fluid">
  <div class="head-components">
    <h1>Nyilvántartott felhasználók</h1>

    <div class="search-components">
      <div class="form-group filter-form">
        <label for="nameFilterText" >Szűrés:</label>
        <input type="text" id="nameFilterText" [(ngModel)]="nameFilter" placeholder="Név">
      </div>
    </div>
  </div>
  <div class="data-display">
    <ul class="data-list">
      <li *ngFor="let user of filteredUserList(); let i = index" class="data-row">
        <div class="row justify-content-md-between">
          <div class=" col-md-10 row justify-content-md-start align-items-center data-button" (click)="navigateToUserDetail(user.id)">
            <span class="col-md-1 ml-1"><fa-icon [icon] = "getUserIcon(user)"></fa-icon></span>
            <span class="col-md-3">{{user.firstName}} {{user.lastName}}</span>
            <span class="col-md-5">{{user.email}}</span>
            <span class="col-md-2">Autók száma: {{user.ownedCars.length}}</span>
          </div>
          <div class="admin-button col-md-1 mx-3" >
            <button class="btn btn-primary"(click)="openPopUpCustom(user)" *ngIf="!(user.role==FIRST_USER_ROLE)">
              Jogosultság vátoztatása
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-pop-up *ngIf="popupIsOpen" (closeEvent)="closePopUp()" (okEvent)="adminBtnPressed(selectedUser)">
  <div *ngIf="selectedUser.role==USER_ROLE;else adminText">
    <p>Adminisztrátorrá szeretné tenni a {{selectedUser.firstName}} {{selectedUser.lastName}} nevű felhasználót?</p>
  </div>
  <ng-template #adminText>
    <div>
      <p>{{selectedUser.firstName}} {{selectedUser.lastName}} jelenleg adminisztrátor. Meg szeretné vonni tőle az ezt a jogosultságot?</p>
    </div>
  </ng-template>
</app-pop-up>

<app-pop-up *ngIf="commonService.isLoading" [actionButtons]="false" [nobackGround]="true">
  <app-loading-spinner></app-loading-spinner>
</app-pop-up>
