.head-components{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group{
  margin: auto 0;
}

.data-display{
  border: black solid 1px;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  border-radius: 5px;
  user-select: none;
  font-size: large;
  overflow-y: auto;
  overflow-x: hidden;
}


.user-list-item> div{
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
}

.user-info{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 5px;
}
.user-info:hover{
  background-color: var(--secondary);
  color: var(--light);
}

.admin-button{
  width: 15%;
  padding: 5px;
  min-width: 200px;
}
.admin-button button{
  width: 100%;
}

.user-icon{
  width: 10%;
  padding: 5px;
  margin-left: 5px;
}
.user-name{
  width: 20%;
}
.user-email{
  width: 40%;
}

.user-cars-numb{
  width: 30%;
}

.user-list-item span{
  display: inline-block;
}
