
<div class="container-fluid">
  <h1>Nyilvántartott felhasználók</h1>
  <div class="data-display">
    <ul class="user-list">
      <li *ngFor="let user of userService.users; let i = index" class="user-list-item">
        <div >
          <div class="user-info" (click)="navigateToUserDetail(user.id)">
            <span class="user-icon"><fa-icon [icon] = "getUserIcon(user)"></fa-icon></span>
            <span class="user-name">{{user.firstName}} {{user.lastName}}</span>
            <span class="user-email">{{user.email}}</span>
            <span class="user-cars-numb">{{user.ownedCars.length}}</span>
          </div>
          <div class="admin-button">
            <button class="btn btn-primary "(click)="openPopUpCustom(user)" *ngIf="!(user.role==FIRST_USER_ROLE)">
              Jogosultság vátoztatása
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<app-pop-up *ngIf="popupIsOpen" (closeEvent)="closePopUp()" (okEvent)="adminBtnPressed(selectedUser)">
  <div *ngIf="selectedUser.role==USER_ROLE;else adminText">
    <p>{{selectedUser.firstName}} {{selectedUser.lastName}} jelenleg sima felhasználó. Szeretne neki admin jogosultságot adni?</p>
  </div>
  <ng-template #adminText>
    <div>
      <p>{{selectedUser.firstName}} {{selectedUser.lastName}} jelenleg admin. Meg szeretné vonni tőle az admin jogosultságot?</p>
    </div>
  </ng-template>
</app-pop-up>

<app-pop-up *ngIf="commonService.isLoading" [actionButtons]="false" [nobackGround]="true">
  <app-loading-spinner></app-loading-spinner>
</app-pop-up>
