.add-btn{
  margin: auto;
  width: fit-content;
  padding: 0.5em;
  border-radius: 4px;
  text-align: center;
  color: var(--secondary);
}
.add-btn:hover{
  color: white;
  background-color: var(--secondary);
}

form div{
  width: fit-content;
  margin-bottom: 10px;
}
form div input{
  margin: 0 auto;
}
input.ng-invalid.ng-touched{
  border: 1px solid var(--danger)
}


