<app-pop-up *ngIf="commonService.isLoading&&!isGetClosestLoading" [actionButtons]="false" [nobackGround]="true">
  <app-loading-spinner></app-loading-spinner>
</app-pop-up>

<main>
  <div class="container">
    <div>
      <h2>Parkolóházak</h2>
    </div>
    <div style="margin: 5px auto; width: fit-content;">
      <button *ngIf="!isAddview" class="btn btn-primary"
      style="margin: 0 auto;" (click)="startGettinClosestParkHouse()"
      [disabled]="!closestBtnAllowed">Legközelebbi parkolóház</button>
      <div *ngIf="!closestBtnAllowed" style="text-align: center;">Helyadatok nem elérhetőek</div>
    </div>
    <div class="map-container">
      <!--A térkép-->
      <agm-map (mapDblClick)="placeMarker($event)"
      [disableDoubleClickZoom]="true"
      [longitude]="19.075364"
      [latitude]="47.491800"
      [restriction]="mapRestriction">
        <agm-marker *ngFor="let marker of phMarkers" (markerClick)="setSelectedParkHouse(marker.parkHouse.id)" (markerDblClick)="openParkHouseDetail(marker.parkHouse.id)"
        [longitude]="marker.longitude" [latitude]="marker.latitude" [iconUrl]="marcerIcon" >
          <agm-info-window #phMarkerInfo>
            <h4>
            {{marker.parkHouse.name}}
            </h4>
            <h5>{{marker.parkHouse.address}}</h5>
          </agm-info-window>
        </agm-marker>
        <agm-marker *ngIf="isAaddMarkerVisible" [(longitude)]="addParkHouseForm.value.longitudeInput" [(latitude)]="addParkHouseForm.value.latitudeInput">
        </agm-marker>
        <agm-marker [longitude]="deviceLongitude" [latitude]="deviceLatitude" [iconUrl]="userMarkerIcon">
          <agm-info-window>
            <h4>Ön itt tartózkodik.</h4>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div>
      <ul *ngIf="!isAddview;else addPanel">
        <app-list-tile
          *ngFor="let parkHouse of parkHouses; let i = index"
          (elementDeleted)="deleteParkHouse(parkHouse, i)"
          #listTile>
          <div class="row info-area" (click)="openParkHouseDetail(parkHouse.id)">
            <div class="col-md-10">
              <h3 class="text-primary card-title">{{ parkHouse.name }}</h3>
              <span class="text-primary">{{ parkHouse.address }}</span>
            </div>
            <span class="text-primary col-md-2">Szabad helyek: {{ parkHouse.freePlCount }}</span>
          </div>
        </app-list-tile>
      </ul>
      <ng-template #addPanel>
        <h3>Parkolóház hozzáadása</h3>
        <form (ngSubmit)="onSubmit()" #addPhForm="ngForm">
          <div class="row justify-content-mg-around">
            <div class="col-md-6">
              <div>
                <input class="form-control"
                  type="text"
                  placeholder="Név"
                  ngModel
                  name="parkHouseNameInput"
                  #phName="ngModel"
                  required/>
                <span
                  class="form-text text-danger"
                  *ngIf="!phName.valid && (phName.touched || formChecked)">
                  A név nem lehet üres!
                </span>
              </div>
              <div>
                <input class="form-control"
                  type="number"
                  name="firstFloorInput"
                  id="firstFloor"
                  ngModel
                  required
                  placeholder="Legalsó szint"
                  #firstFloor="ngModel"/>
                <span class="form-text text-danger" *ngIf="!firstFloor.valid && (firstFloor.touched || formChecked)">
                  Ez a mező nem lehet üres.
                </span>
              </div>
              <div>
                <input class="form-control"
                  type="number"
                  name="numFloorInput"
                  id="numberOfFloors"
                  ngModel
                  required
                  placeholder="Szintek száma"
                  #numFloor="ngModel"/>
                <span class="form-text text-danger" *ngIf="!numFloor.valid && (numFloor.touched || formChecked)">
                  Az emeletszám nem lehet üres!
                </span>
              </div>
            </div>
            <div class="col-md-6 test-div2">
              <div>
                <input class="form-control"
                  type="text"
                  placeholder="Cím"
                  ngModel
                  name="parkHouseAddressInput"/>
              </div>
              <div>
                <input class="form-control"
                  type="number"
                  name="longitudeInput"
                  id="longitude"
                  [(ngModel)]="addPhForm.value.longitudeInput"
                  required
                  placeholder="Szélességi fok"
                  #longitude="ngModel"/>
                <span class="form-text text-danger" *ngIf="!longitude.valid && (longitude.touched || formChecked)">
                  A térképre duplán kattintva megadhat pontos helyet.
                </span>
              </div>
              <div>
                  <input class="form-control"
                    type="number"
                    name="latitudeInput"
                    id="latitude"
                    [(ngModel)]="addPhForm.value.latitudeInput"
                    required
                    placeholder="Hosszúsági fok"
                    #latitude="ngModel"/>
                  <span class="form-text text-danger" *ngIf="!latitude.valid && (latitude.touched || formChecked)">
                    A térképre duplán kattintva megadhat pontos helyet.
                  </span>
              </div>

            </div>
          </div>

          <div class="text-danger">{{ errorText }}</div>
          <button class="btn btn-primary" type="submit" [disabled]="!addPhForm.valid">Hozzáad</button>
          <button class="btn btn-primary" (click)="changeToNormalView()">Mégse</button>
        </form>

      </ng-template>
      <app-add-button (addEvent)="changeToAddView()" *ngIf="!isAddview"></app-add-button>


    </div>
  </div>
</main>
