.parkignLotsPanel{
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-in;
}

.expanded{
    height: 40vh;
    transition: all 0.2s ease-in;
}

.parkingLotTileList{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.parkingLotTile{
    border: 1px black solid;
    height: 100px;
    width: 80px;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.plName{
    display: block;
    width: 100%;
    text-align: center;
}
.plIcon{
    text-align: center;
    font-size: large;
}

