.parkignLotsPanel{
    height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-in;
}

.expanded{
    height: fit-content;
    max-height: 40vh;
    transition: all 0.2s ease-in;
}

.parkingLotTileList{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.addParkingLotBtn, .parkingLotTile{
    height: 100px;
    width: 80px;
    margin: 0 5px;
}
.parkingLotTile{
    border: 1px black solid;
    margin-bottom: 10px;
    border-radius: 5px;
}

.addParkingLotBtn div{
    text-align: center;
    font-size: larger;
    margin: auto;
    width: 20%;
    margin-top: 50%;
    color: var(--add-btn-color);
}

.addParkingLotBtn:hover div{
    color:var(--add-btn-hover-color);
    transition: all 0.3s linear;
}
.plName{
    display: block;
    width: 100%;
    text-align: center;
}
.plIcon{
    text-align: center;
    font-size: large;
}


