#editor{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#buttons{
    display: flex;
    height: 40%;
}

.edit:hover, .trash:hover{
    background-color: var(--dark-background);
}

#sectors{
    height: 70%;
}

#listOfSectors{
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.dataCard{
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    margin-bottom: 10px;
}

.dataCard:hover{
    border: lightblue solid 2px;
    transition: all 0.3s;
}
.dataCard span{
    display: block;
}
#addCard{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.addbtn{
    display: block;
    
}

#addCard:hover{
    color: blue;
    border: lightblue solid 2px;
    
    transition: all 0.3s;
}

.popupContainer .addForm{
    display: none;
}
.popupContainer .show{
    display: block;
    transition: all 0.3s;
}

.popupContainer .hide{
    display: none;
}

.sectorItem{
    display: flex;
    justify-content: stretch;
    width: 100%;
    margin-bottom: 5px;
}

.sectorInfo {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    
}
.sectorHeader{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    /*height: 100%;*/
    width: 100%;
}
.sectorItem .trash>i{
    color: transparent;
    transition: all 0.3s;
}

.sectorHeader span, .sectorHeader i{
    display: block;
    margin: auto 0;
}

.sectorHeader i{
    margin-right: 10px;
}

.sectorItem:hover .trash>i{
    color: var(--light-color);
    transition: all 0.3s ease-in;
}
.sectorItem:hover .trash{
    visibility: visible;
    display: block;
    width: 50px;
    transition: all 0.3s;
}
.sectorItem .trash{
    visibility: hidden;
    width: 0;
    background-color: red;
    transition: all 0.3s ease-out;
}

.expandBtn{
    cursor: pointer;
    margin : auto 0;
    width : 40px;
    height: 100%;
    border-radius: 5px;
}
.expandBtn:hover{
    background-color: var(--secondary-color);
}
.expandBtn i{
    display: block;
    margin: 25% auto;
    font-size: larger;
}

h1{
    margin: 0;
}
ul{
    list-style-type: none;
    padding:10px;
}