#editor{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#buttons{
    display: flex;
    height: 40%;
}

.edit:hover, .trash:hover{
    background-color: var(--dark-background);
}

#listOfDatas{
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.dataCard{
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    margin-bottom: 10px;
}

.dataCard:hover{
    border: lightblue solid 2px;
    transition: all 0.3s;
}
.dataCard span{
    display: block;
}
#addCard{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.addbtn{
    display: block;
    
}

#addCard:hover{
    color: blue;
    border: lightblue solid 2px;
    
    transition: all 0.3s;
}

.popupContainer .addForm{
    display: none;
}
.popupContainer .show{
    display: block;
    transition: all 0.3s;
}

.popupContainer .hide{
    display: none;
}

h1{
    margin: 0;
}
ul{
    list-style-type: none;
    padding:10px;
}