body{
    background-color: rgb(31, 82, 38);
}

nav{
    display: block;
    color: #a9b7d0;
    background: #3f4d67;
    width : 200px;
    height: 100vh;
    top : 0;
    position: fixed;
}

header{
    position: relative;
    z-index: 1028;
    display: flex;
    min-height: 70px;
    padding: 0;
    top:0;
    background: transparent;
    /*color: #3f4d67;*/
    width: calc(100% - 200px);
    margin-left: 200px;
}
