/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

main{
  margin-top: 20px;
}

button{
  border: none;
}

ul{
  list-style: none;
  padding: 0;
}

.delete-btn{
  border-radius: 4px;
  color: var(--danger);
  padding: 0.1em;
  font-size: large;
  width: 50px;
}
.delete-btn:hover{
  color: white;
  background-color: var(--danger);
}
