<!-- <main *ngIf="authService.isLogedIn"> -->
<main>
  <!-- <h1>{{authService.loggedInUser.firstName}} {{authService.loggedInUser.lastName}}</h1> -->
  <h1>Horváth Kristóf</h1>
  <div class="container">
    <div class="car-container">
      <ul class="car-list">
        <app-list-tile
          [isDeletable]="false"
          *ngFor="let car of authService.loggedInUser.ownedCars"
          (click)="selectedCar = car">
          <div class="inf-cont" [ngClass]="{ selected: selectedCar == car }">
            <div class="car-icon">
              <fa-icon [icon]="faCar"></fa-icon>
            </div>
            <div class="car-info">{{ car.plateNumber }}</div>
          </div>
        </app-list-tile>
        <app-add-button (click)="openPopUp2()" *ngIf="authService.loggedInUser.ownedCars.length<5"></app-add-button>
      </ul>
    </div>
    <div class="pl-container">
      <div class="car-details" *ngIf="selectedCar">
        <h1>{{ selectedCar.plateNumber }}</h1>
        <div class="custom-container">
          <div>
            <p>
              Tulaj: {{ selectedCar.owner.firstName }}
              {{ selectedCar.owner.lastName }}
            </p>
          </div>
          <div class="pl-details"
            *ngIf="selectedCar.occupiedParkingLot; else noPl">
            <h3>Parkoló: {{selectedCar.occupiedParkingLot.name}}</h3>
            <p>Parkolóház: {{selectedCar.occupiedParkingLot.sector.parkHouse.name}}</p>
            <p>Szektor: {{selectedCar.occupiedParkingLot.sector.name}}</p>
            <button class="btn btn-primary" (click)="openPopUp()">Kiállás</button>
          </div>
          <ng-template #noPl>
            <div><p>Ez az autó nem foglal jelenleg parkolót.</p></div>
          </ng-template>
          <button class="delete-btn" (click)="openPopUp3()">
            <fa-icon [icon] = "deleteIson"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<app-pop-up *ngIf="popupIsOpen" (closeEvent)="closePopUp()" (okEvent)="parkOut()">
  <h3>Kiáll a parkolóbol?</h3>
</app-pop-up>

<app-pop-up *ngIf="popUp2IsOpen" (closeEvent)="closePopUp2()" (okEvent)="addNewCar(plateNumb)">
  <h2>Új autó</h2>
  <div class="form-group ">
    <label for="plateNumber">Rendszám:</label>
    <input class="form-control" type="text" name="plateNumberInpur" id="plateNumber" ngModel required #plateNumb="ngModel">
    <span class="text-danger" *ngIf="!plateNumb.valid&&plateNumb.touched">Nem lehet üres</span>
  </div>
</app-pop-up>

<app-pop-up *ngIf="popUp3IsOpen" (closeEvent)="closePopUp3()" (okEvent)="removeCar(selectedCar)">
  <h2>Biztos törli az autót?</h2>
</app-pop-up>

<app-pop-up *ngIf="commonService.isLoading && !popUp2IsOpen && !popupIsOpen &&!popUp3IsOpen" [actionButtons]="false" [nobackGround]="true">
  <app-loading-spinner></app-loading-spinner>
</app-pop-up>
