.inf-cont{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  align-items: center;
}

.selected{
  background-color: var(--secondary);
  color: var(--light);
}

.container{
  display: flex;
  height: 55vh;

}
.car-container, .pl-container{
  border: black solid 1px;
  width: 50%;
  margin: 10px;
  height: 100%;
  border-radius: 5px;
  user-select: none;
}
.car-container{
  overflow-x: hidden;
  overflow-y: auto;
}


.car-info{
  margin-left: 20px;
}

.car-icon{
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.car-details h1{
  text-align: center;
}

.custom-container{
  margin: 20px;
}
