#listOfDatas{
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.listItem{
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 10px;
}
.listItem:hover .trash>i{
    color: var(--light-color);
    
    transition: all 0.3s ease-in;
}
.listItem:hover .trash{
    visibility: visible;
    display: block;
    width: 50px;
    transition: all 0.3s;
}
.dataCard{
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    float: left;
    height: 100%;
}

.dataCard span{
    display: flex;
    align-items: center;
}

.trash{
    visibility: hidden;
    width: 0;
    background-color: red;
    transition: all 0.3s ease-out;
}
 .trash>i{
    color: transparent;
    transition: all 0.3s;
}

#addCard{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}

.addbtn{
    display: block;
    
}

#addCard:hover{
    color: var(--add-btn-color);
    border:var(--add-btn-hover-color) solid 2px;
    
    transition: all 0.3s;
}

.popupContainer .addForm{
    display: none;
}
.popupContainer .show{
    display: block;
    transition: all 0.3s;
}

.popupContainer .hide{
    display: none;
}

h1{
    margin: 0;
}
ul{
    list-style-type: none;
    padding:10px;
}